$dark-bg: #212529;
footer {
    .upper-footer {
        background-image: url("../img/footer-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .lower-footer {
        background-color: $dark-bg;
    }
}
